.projects {
  width: clamp(10rem, 80vw, 80rem);
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.projectCollection {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  gap: 2rem;
  padding: 1.5rem;
}
.projectTab {
  border: #1f2937 0.2rem solid;
  border-radius: 1rem;
  min-height: 28rem;
  text-align: left;
  background-color: #003153;
}
.langAndTech,
.projectTab p {
  padding: 1rem;
}

.projectTab:hover {
  border: #da291c 0.2rem solid;
  box-shadow: #da291c 0 4px 12px;
}

.projectHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.screenshot {
  max-width: 100%;
  aspect-ratio: 16 / 9;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-size: cover;
  background-position: top;
}

.socialLinks {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.socialLinks a {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s ease;
}

.socialLinks a img {
  width: 1.75rem;
  transition: transform 0.3s ease;
}

.socialLinks a:hover img {
  transform: scale(1.2);
  filter: brightness(0) invert(1);
}

.langAndTech {
  display: flex;
  justify-content: flex-start;
  gap: clamp(0.25rem, 0.5vw, 1rem);
  align-items: center;
  margin-top: -1.5rem;
  flex-wrap: wrap;
}
.langAndTech span {
  border: #ffffff 1px solid;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0 0.25rem;
  background-color: #8da399;
}
