.contacts {
  background-color: #082567;
  padding: 0.5rem;
  border-radius: 2rem;
  width: clamp(10rem, 80vw, 80rem);
  min-height: 30rem;
  justify-self: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contacts img {
  width: 2.5rem;
}

.contacts section {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contacts section a {
  width: 4rem;
  height: 4rem;
  border: #2d68c4 0.1rem solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  background-color: #5f9ea0;
}
.contacts section a:hover {
  background-color: #003153;
  color: #ffffff;
}

.contacts h1 {
  font-size: 6rem;
  margin-bottom: -1rem;
  font-weight: bold;
}
@media (max-width: 600px) {
  .contacts h1 {
    font-size: 3rem;
  }
}
.contacts p {
  width: clamp(6rem, 60vw, 60rem);
}
