.contacts {
  background-color: #082567;
  padding: 0.5rem;
  border-radius: 2rem;
  width: clamp(10rem, 80vw, 100rem);
  min-height: 40rem;
  justify-self: center;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contacts img {
  width: 4rem;
}

.contacts section {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contacts section a {
  width: 5rem;
  height: 5rem;
  border: #2d68c4 0.1rem solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  background-color: #5f9ea0;
}
.contacts section a:hover {
  background-color: #003153;
  color: #ffffff;
}

.contacts h1 {
  font-size: clamp(4rem, 8vw, 8rem);
  font-weight: bold;
}
.contacts p {
  width: clamp(6rem, 60vw, 80rem);
  font-size: clamp(2rem, 2.4rem, 2.4rem);
}
