.homePage {
  background-color: #b0c4de;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 80rem;
  height: 30rem;
  justify-self: center;
  text-align: center;
  margin-top: 2rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
